
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ССГС</title>
</head>
<body>

  <header>
    <div class="container-fluid d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav font-weight-bold ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О СОЮЗЕ 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="../">ГЛАВНАЯ</a>
                <a class="dropdown-item" href="#">НАПРАВЛЕНИЯ РАБОТЫ</a>
                <a class="dropdown-item" href="documentsSro/">ДОКУМЕНТЫ СРО</a>
                <a class="dropdown-item" href="compensationFund/">КОМПЕНСАЦИОННЫЙ ФОНД</a>
                <a class="dropdown-item" href="ManagementBodies/">ОРГАНЫ УПРАВЛЕНИЯ СОЮЗА</a>
                
                
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ЧЛЕНСТВО СРО
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="intoSro/">УСЛОВИЯ ВСТУПЛЕНИЯ В СРО</a>
                <a class="dropdown-item" href="#">ОБРАЗЦЫ ДОКУМЕНТОВ ДЛЯ ВСТУПЛЕНИЯ/ВЫХОДА ИЗ СРО</a>
                <a class="dropdown-item" href="#">ИНФОРМАЦИЯ ПО ВЫПИСКАМ</a>
                <a class="dropdown-item" href="#">ПЛАН ПРОВЕРОК</a>
                <a class="dropdown-item" href="termsStrah/">УСЛОВИЯ СТРАХОВАНИЯ</a>
                
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="vajnInfo/">ИНФОРМАЦИЯ ОБЯЗАТЕЛЬНАЯ ДЛЯ РАЗМЕЩЕНИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="legislation/">ЗАКОНОДАТЕЛЬСТВО</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="indexTwo/">КОНТАКТЫ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="registrySro/">РЕЕСТР СРО</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <section>
    <div class="container-fluid">
      <div class="row blog d-flex align-items-center">
        <div class="col-lg-6">
          <div class="d-flex justify-content-center text-white blogUp">
            <div class="blogUp_text">
              СОЮЗ СТРОИТЕЛЕЙ <br>
              «ГАЗОРАСПРЕДЕЛИТЕЛЬНАЯ СИСТЕМА. СТРОИТЕЛЬСТВО»
            </div> 
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
          <div class=" text-white blogUpTwo">
            <div class="row">
              <div class="blogUpTwo_text">
                Получить консультацию <br>
                по вступлению в СОЮЗ
              </div>
            </div>
            <div class="row">
              <div>
                <a href="intoSro/"><button type="button" class="btn btn-primary btn-lg">Вступить в СРО</button></a>
              </div>
            </div>
          
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section class="blog_one">
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12 p-0">
            <div class="blog_two_asost">
              <h3>О СОЮЗЕ</h3>
              <hr>
              <p>За годы своей деятельности союз зарекомендовал себя как надежная, ведущая региональная СРО</p>
              <ul>
                <li><p>Более 9 лет в реестре РТН и составе НОСТРОЙ</p></li>
                <li><p>Более 300 действующих членов в реестре СРО</p></li>
                <li><p>Подтверждено наличие Компенсационного фонда возмещения вреда и Компенсационного фонда обеспечения договорных обязательств</p></li>
                <li><p>Компенсационный фонд размещён на специальных счетах в банках, соответствующих требованиям Постановления Правительства РФ № 970 от 27.09.2016 г.. Для регистрации в качестве участника общего собрания при себе необходимо иметь документ, удостоверяющий личность и документ, подтверждающий полномочия (доверенность, приказ).</p></li>
              </ul>
            </div>
        </div>
        <!-- <div class="col-auto p-0">
          <div class="blog_two blog_two_right d-flex justify-content-center align-items-center">
            <div class="blog_two_korona">
              <h3>Важная информация по COVID-19</h3>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>


  <section class="blog_telephone-basic">
    <div class="container">
      <div class="row">
        
          <div class="col-lg-5 p-0">
            <div class="blog_telephone blog_telephone-basic_left">
              <div class="d-flex tel">
                <p><i class="fas fa-phone-volume icon_telephone justify-content-start"></i></p>
                <h4>Напишите нам и вам будет предоставлен персональный менеджер</h4>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="blog_telephone-basic-form d-flex justify-content-center">
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ФИО">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Номер телефона">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ваше сообщение"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                  </form>
                </div>
                <div class="row p-0">
                  <div class="img_Reestr">
                    <a href=""><img src="../static/img/reestr2.png" width="450" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="blog_telephone-basic_right ">
              <img src="../static/img/reestr.png" class="blog_telephone-basic-img"  alt="asd">
            </div>
            <div class="blog_telephone-basic_right_down">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-10 ">
                  <h6>СОЮЗ СТРОИТЕЛЕЙ «ГАЗОРАСПРЕДЕЛИТЕЛЬНАЯ СИСТЕМА. СТРОИТЕЛЬСТВО»</h6> 
                   <p> Успешно прошла плановую проверку Ростехнадзора в августе 2015г и подтвердила соблюдение Союзом обязательных требований к саморегулируемым организациям
                  </p>
                  <button type="submit" class="btn btn-primary" class="button_prover">Подробнее</button>
                  <hr>
                  <div class="blog_telephone-basic_right_down_qval">
                    <h5>ПОВЫШЕНИЕ КВАЛИФИКАЦИИ</h5>
                    <ul>
                      <li><p>
                        "Безопасность строительства и качество выполнения геодезических, подготовительных и земляных работ, устройства оснований и фундаментов "</p></li>
                      <li><p>
                        "Безопасность строительства и качество возведения бетонных и железобетонных конструкций"</p></li>
                      <li><p>"Безопасность строительства и качество возведения каменных, металлических и деревянных строительных конструкций"</p></li>
                      <li><p>Безопасность строительства и качество выполнения фасадных работ, устройства кровель, защиты строительных конструкций, трубопроводов и оборудования "</p></li>
                    </ul>
                    <a href="#"><button type="submit" class="btn btn-primary button_qval">Перейти в раздел</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>

  <section class="blog_tree">
    <div class="container">
      <div class="row">
        <div class="blog_tree_vstup">
          <div class="blog_tree_vstup_text justify-content-start">
            <div class="col-lg-8">
              <h5 class="blog_tree_vstup_text_text">"НА ЧТО СЛЕДУЕТ ОБРАТИТЬ ВНИМАНИЕ ПРИ В СТУПЛЕНИИ В СРО"</h5>
            </div>
          </div>
        </div>
      </div>
      
        <div class="row blog_tree_vstup_vopr align-items-center">
          <div class="col-lg-3">
            <div class="d-flex justify-content-start">
              <p class="number">1</p>
              <p class="number_text">Обратите внимание на наличие и состав сведений о СРО в реестре Ростехнадзора.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="d-flex justify-content-start">
              <p class="number">2</p>
              <p class="number_text">Обратите внимание на наличие и состав сведений о СРО в реестре Ростехнадзора.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="d-flex justify-content-start">
              <p class="number">3</p>
              <p class="number_text">Обратите внимание на наличие и состав сведений о СРО в реестре Ростехнадзора.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-warning number_b">Все часто задаваемые вопросы</button>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section class="blog_four">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-0">
          <div class="blog_four_header d-flex justify-content-start align-items-center">
            <h5>СРОЧНАЯ ИНФОРМАЦИЯ ОТ СРО </h5>
            <p>Остались вопросы? напишите нам</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 p-0">
          <div class="blog_four_down d-flex justify-content-between align-items-center m-0">
            <div class="blog_four_down_text">
              <h4>ВСТУПИТЬ В СОЮЗ <br>
                «ГАЗОРАСПРЕДЕЛИТЕЛЬНАЯ СИСТЕМА. СТРОИТЕЛЬСТВО»
              </h4>
                <p>Вступить в СРО сегодня - это возможность получить выгоду уже завтра!</p>
            </div>
            <div class="blog_four_down_btn">
              <button type="button" class="btn btn-warning">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog_five">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-0">
          <div class="blog_five_icons d-flex justify-content-around align-items-center">
            <div class="blog_five_icons_icon">
              <img src="../static/img/par-1.png" alt="">
              <p>Ростехнадзор</p>
            </div>
            <div class="blog_five_icons_icon blog_five_img_one">
              <img src="../static/img/par-2.png" alt="">
              <p>Министерство строительства и жилищно-коммунального хозяйства</p>
            </div>
            <div class="blog_five_icons_icon">
              <img src="../static/img/par-3.png" alt="">
              <p>Комплекс градостроительной политики и строительства Москвы</p>
            </div>
            <div class="blog_five_icons_icon">
              <img src="../static/img/par-5.png" alt="">
              <p>Национальное объединение строителей</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

</body>
</html>