{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ССГС</title>
</head>
<body>

  <header>
    <div class="container-fluid d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav font-weight-bold ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О СОЮЗЕ 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="../">ГЛАВНАЯ</a>
                <a class="dropdown-item" href="#">НАПРАВЛЕНИЯ РАБОТЫ</a>
                <a class="dropdown-item" href="#">ДОКУМЕНТЫ СРО</a>
                <a class="dropdown-item" href="../compensationFund/">КОМПЕНСАЦИОННЫЙ ФОНД</a>
                <a class="dropdown-item" href="../ManagementBodies/">ОРГАНЫ УПРАВЛЕНИЯ СОЮЗА</a>
                
                
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ЧЛЕНСТВО СРО
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">УСЛОВИЯ ВСТУПЛЕНИЯ В СРО</a>
                <a class="dropdown-item" href="#">ОБРАЗЦЫ ДОКУМЕНТОВ ДЛЯ ВСТУПЛЕНИЯ/ВЫХОДА ИЗ СРО</a>
                <a class="dropdown-item" href="#">РЕЕСТР ЧЛЕНОВ</a>
                <a class="dropdown-item" href="#">ИНФОРМАЦИЯ ПО ВЫПИСКАМ</a>
                <a class="dropdown-item" href="#">ПЛАН ПРОВЕРОК</a>
                <a class="dropdown-item" href="../termsStrah/">УСЛОВИЯ СТРАХОВАНИЯ</a>
                
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../vajnInfo/">ИНФОРМАЦИЯ ОБЯЗАТЕЛЬНАЯ ДЛЯ РАЗМЕЩЕНИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../legislation/">ЗАКОНОДАТЕЛЬСТВО</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../indexTwo/">КОНТАКТЫ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../registrySro/">РЕЕСТР СРО</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <section class="under_head d-flex align-items-center">
    <div class="container">
      <div class="under_head_bg">
        <div class="row d-flex p-0 m-0">
          <div class="col-md-4 d-flex justify-content-center">
            <a href="../"><img src="{% static 'img/logo/logo_npsro.png'%}" class="logoImgTwo m-1 p-0" alt=""></a>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div class="under_head_SRO d-flex align-items-center">
              <h5>СРО-С-048-12102009</h5>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center align-items-center">

            <!-- Modal -->
            <a href="#" data-target="#exampleModal" data-toggle="modal">
              <div class=" under_head_new justify-content-center">
                <p>НОВЫЕ ТРЕБОВАНИЯ К ЧЛЕНСТВУ</p>
              </div>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><strong>НОВЫЕ ТРЕБОВАНИЯ К ЧЛЕНСТВУ</strong></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h1>Уважаемые коллеги!</h1>
                      <p>В соответствии с изменениями в Градостроительном кодексе РФ с 1 июля 2017 года одним из требований к члену СРО будет наличие у ИП или юридического лица как минимум двух специалистов по организации инженерных изысканий (главных инженеров проектов), специалистов по организации архитектурно-строительного проектирования (главных инженеров проектов, главных архитекторов проектов), трудовая функция которых включает соответственно организацию выполнения работ по инженерным изысканиям, выполнения работ по подготовке проектной документации, сведения о которых включены в Национальный реестр специалистов.</p>
                      <p>По всем вопросам обращайтесь с 10:00-18:00 </p>
                      <p>тел:   +7(911) 003-40-87</p>
                      <p>тел:   +7(911) 003-41-39</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- Modal -->
        </div>
      </div>
    </div>
  </section>

  <section class="documents">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-9 p-0 m-0">
                <div class="legislation_start shadow mb-5 bg-white rounded pt-5 pb-5">
                    <div class="legislation_blog d-flex justify-content-center">
                        <img src="{% static 'doc/svo1.jpg'%}" alt="">
                    </div>
                    <div class="legislation_blog d-flex justify-content-center pt-5">
                        <img src="{% static 'doc/svo2.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
  </div>
  </section>


  <footer class="under_head d-flex align-items-end m-0">
    <div class="container">
      <div class="under_head_bg">
        <div class="row d-flex p-0 m-4 d-flex justify-content-center">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="under_head_SRO d-flex align-items-center p-0 m-0">
              <h6 class="m-0">Союз строителей
                «Газораспределительная система.
                Строительство» © 2016-2020</h6>
            </div>
          </div>
      </div>
    </div>
  </footer>



</body>
</html>