{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ССГС</title>
</head>
<body>

  <header>
    <div class="container-fluid d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav font-weight-bold ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О СОЮЗЕ 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="../">ГЛАВНАЯ</a>
                <a class="dropdown-item" href="#">НАПРАВЛЕНИЯ РАБОТЫ</a>
                <a class="dropdown-item" href="../documentsSro/">ДОКУМЕНТЫ СРО</a>
                <a class="dropdown-item" href="../compensationFund/">КОМПЕНСАЦИОННЫЙ ФОНД</a>
                <a class="dropdown-item" href="../ManagementBodies/">ОРГАНЫ УПРАВЛЕНИЯ СОЮЗА</a>
                
                
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ЧЛЕНСТВО СРО
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">УСЛОВИЯ ВСТУПЛЕНИЯ В СРО</a>
                <a class="dropdown-item" href="#">ОБРАЗЦЫ ДОКУМЕНТОВ ДЛЯ ВСТУПЛЕНИЯ/ВЫХОДА ИЗ СРО</a>
                <a class="dropdown-item" href="#">РЕЕСТР ЧЛЕНОВ</a>
                <a class="dropdown-item" href="#">ИНФОРМАЦИЯ ПО ВЫПИСКАМ</a>
                <a class="dropdown-item" href="#">ПЛАН ПРОВЕРОК</a>
                <a class="dropdown-item" href="#">УСЛОВИЯ СТРАХОВАНИЯ</a>
                
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">ИНФОРМАЦИЯ ОБЯЗАТЕЛЬНАЯ ДЛЯ РАЗМЕЩЕНИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../legislation/">ЗАКОНОДАТЕЛЬСТВО</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../indexTwo/">КОНТАКТЫ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../registrySro/">РЕЕСТР СРО</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <section class="under_head d-flex align-items-center">
    <div class="container">
      <div class="under_head_bg">
        <div class="row d-flex p-0 m-0">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="under_head_SRO d-flex align-items-center">
              <h5>СРО-С-048-12102009</h5>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
              <div class="under_head_new align-items-center">
                  <p>НОВЫЕ ТРЕБОВАНИЯ К ЧЛЕНСТВУ</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="registrySro">
    <div class="container">
      <div class="row p-0 m-0">
        <div class="col-md-12 d-flex justify-content-start">
          <div class="contact_text">
            <hr>
            <h4 class="font-weight-bold">Условия вступления в СРО</h4>
            <hr>
          </div>
        </div>
      </div>
    </section>


    <section class="compensationFund">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 p-0">
                    <div class="blog_telephone blog_telephone-basic_left">
                      <div class="d-flex tel">
                        <p><i class="fas fa-phone-volume icon_telephone justify-content-start"></i></p>
                        <h4>Напишите нам и вам будет предоставлен персональный менеджер</h4>
                      </div>
                      <div class="row d-flex justify-content-center">
                        <div class="blog_telephone-basic-form d-flex justify-content-center">
                          <form>
                            <div class="form-group">
                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ФИО">
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Номер телефона">
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                            </div>
                            <div class="form-group">
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ваше сообщение"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                          </form>
                        </div>
                        <div class="row p-0">
                          <div class="img_Reestr">
                            <a href=""><img src="../static/img/reestr2.png" width="450" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-md-7 p-0 m-0">
                    <div class="compensationFund_start shadow mb-5 bg-white rounded pt-5 pb-5">
                        <div class="compensationFund_blog d-flex justify-content-center flex-column pb-2">
                            <h4 class="p-5 text-center font-weight-bold pb-2">Необходимые документы для приема в члены СОЮЗА</h4>
                            <p>
                                <ol>
                                    <li class="pb-2">Заявление о приеме в члены, в котором должны быть указаны в том числе сведения о намерении принять участие в заключении договоров строительного подряда с использованием конкурентных способов заключения договоров;</li>
                                    <li class="pb-2">Копия документов, подтверждающего факт внесения в государственный реестр (копия свидетельства ОГРН или лист записи о внесении сведений в ЕГРЮЛ);</li>
                                    <li class="pb-2">Документ, подтверждающий оплату Компенсационного фонда (копия платёжного поручения);</li>
                                    <li class="pb-2">Копия Устава юридического лица, а также все изменения к нему;</li>
                                    <li class="pb-2">Документы, подтверждающие соответствие количественным и квалификационным требованиям к специалистам индивидуального предпринимателя или юридического лица, в том числе специалистов по организации строительства: - перечень специалистов по организации строительства; - копии трудовых договоров, копии трудовых книжек в отношении заявленных специалистов; - копии документов об образовании (дипломов, удостоверений о повышении квалификации и т.д.) в отношении заявленных специалистов; - документы, подтверждающие наличие у специалистов по организации строительства должностных обязанностей, предусмотренных ч.5 ст.55.5.1 Градостроительного кодекса РФ; - согласие заявленных специалистов юридического лица или индивидуального предпринимателя на обработку их персональных данных;</li>
                                    <li class="pb-2">Сведения об имуществе с приложением правоустанавливающих документов (Свидетельство о праве собственности, договор аренды, актов приема-передачи и т.п.);</li>
                                    <li class="pb-2">Документы устанавливающие порядок организации и проведения контроля качества выполняемы работ, а также работников, на которых в установленном порядке возложена обязанность по осуществлению такого контроля (копия СКК+копия приказа директора о возложении обязанностей по осуществлению контроля за качеством выполнения работ).</li>
                                    <li class="pb-2">Наличие у члена саморегулируемой организации системы аттестации работников, подлежащих аттестации по правилам, установленным Федеральной службой по экологическому, технологическому и атомному надзору (копия протокола об аттестации РТН на специалиста).</li>
                                </ol>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
      </div>
      </section>


  

</body>
</html>