{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ССГС</title>
</head>
<body>

  <header>
    <div class="container-fluid d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav font-weight-bold ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О СОЮЗЕ 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="../">ГЛАВНАЯ</a>
                <a class="dropdown-item" href="#">НАПРАВЛЕНИЯ РАБОТЫ</a>
                <a class="dropdown-item" href="../documentsSro/">ДОКУМЕНТЫ СРО</a>
                <a class="dropdown-item" href="../compensationFund/">КОМПЕНСАЦИОННЫЙ ФОНД</a>
                <a class="dropdown-item" href="../ManagementBodies/">ОРГАНЫ УПРАВЛЕНИЯ СОЮЗА</a>
                
                
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ЧЛЕНСТВО СРО
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="../intoSro/">УСЛОВИЯ ВСТУПЛЕНИЯ В СРО</a>
                <a class="dropdown-item" href="#">ОБРАЗЦЫ ДОКУМЕНТОВ ДЛЯ ВСТУПЛЕНИЯ/ВЫХОДА ИЗ СРО</a>
                <a class="dropdown-item" href="#">РЕЕСТР ЧЛЕНОВ</a>
                <a class="dropdown-item" href="#">ИНФОРМАЦИЯ ПО ВЫПИСКАМ</a>
                <a class="dropdown-item" href="#">ПЛАН ПРОВЕРОК</a>
                <a class="dropdown-item" href="../termsStrah/">УСЛОВИЯ СТРАХОВАНИЯ</a>
                
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../vajnInfo/">ИНФОРМАЦИЯ ОБЯЗАТЕЛЬНАЯ ДЛЯ РАЗМЕЩЕНИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../legislation/">ЗАКОНОДАТЕЛЬСТВО</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../indexTwo/">КОНТАКТЫ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../registrySro/">РЕЕСТР СРО</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <section class="under_head d-flex align-items-center">
    <div class="container">
      <div class="under_head_bg">
        <div class="row d-flex p-0 m-0">
          <div class="col-md-4 d-flex justify-content-center">
            <a href="../"><img src="{% static 'img/logo/logo_npsro.png'%}" class="logoImgTwo m-1 p-0" alt=""></a>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <div class="under_head_SRO d-flex align-items-center">
              <h5>СРО-С-048-12102009</h5>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center align-items-center">

            <!-- Modal -->
            <a href="#" data-target="#exampleModal" data-toggle="modal">
              <div class=" under_head_new justify-content-center">
                <p>НОВЫЕ ТРЕБОВАНИЯ К ЧЛЕНСТВУ</p>
              </div>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><strong>НОВЫЕ ТРЕБОВАНИЯ К ЧЛЕНСТВУ</strong></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h1>Уважаемые коллеги!</h1>
                      <p>В соответствии с изменениями в Градостроительном кодексе РФ с 1 июля 2017 года одним из требований к члену СРО будет наличие у ИП или юридического лица как минимум двух специалистов по организации инженерных изысканий (главных инженеров проектов), специалистов по организации архитектурно-строительного проектирования (главных инженеров проектов, главных архитекторов проектов), трудовая функция которых включает соответственно организацию выполнения работ по инженерным изысканиям, выполнения работ по подготовке проектной документации, сведения о которых включены в Национальный реестр специалистов.</p>
                      <p>По всем вопросам обращайтесь с 10:00-18:00 </p>
                      <p>тел:   +7(911) 003-40-87</p>
                      <p>тел:   +7(911) 003-41-39</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- Modal -->
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="container">
      <div class="row p-0 m-0">
        <div class="col-md-12 d-flex justify-content-start">
          <div class="contact_text">
            <hr>
            <h4 class="font-weight-bold">Органы управления союза</h4>
            <hr>
          </div>
        </div>
      </div>
    </section>
  <section class="compensationFund">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 p-0 m-0">
                <div class="compensationFund_start shadow mb-5 bg-white rounded pt-5 pb-5">
                    <div class="compensationFund_blog d-flex justify-content-center flex-column p-5">
                        <p class="font-weight-bold pb-1">Информация о структуре органов управления:</p>
                        <p class="font-weight-bold pb-1">Органами управления Союза являются:</p>
                        <p>
                            <ol>
                                <li>Общее собрание членов Союза - высший орган управления Ассоциации;</li>
                                <li>Совет Ассоциации – постоянно действующий коллегиальный орган управления Ассоциации;</li>
                                <li>Генеральный директор Ассоциации – исполнительный орган Ассоциации;</li>
                                <li>Заместитель генерального директора – исполнительный орган Ассоциации;</li>
                                <li>Президент Ассоциации – исполнительный орган Ассоциации;</li>
                            </ol>
                        </p>
                        <p class="font-weight-bold pt-5 pb-1">Информация о компетенции органов управления:</p>
                        <p class="font-weight-bold pb-1">К компетенции Общего собрания членов Союза относятся следующие вопросы:</p>
                        <p>
                            <ol>
                                <li>утверждение Устава Союза, внесение в него изменений;</li>
                                <li>определение приоритетных направлений деятельности Союза, принципов формирования и использования ее имущества;</li>
                                <li> избрание тайным голосованием членов Совета Союза, досрочное прекращение полномочий указанного органа или досрочное прекращение полномочий отдельных его членов;
                                </li>
                                <li>избрание тайным голосованием Председателя Совета Союза, досрочное прекращение его полномочий;</li>
                                <li>назначение на должность Генерального директора, досрочное освобождение такого лица от должности;</li>
                                <li>установление компетенции Генерального директора и порядка осуществления им руководства текущей деятельностью Союза;</li>
                                <li>утверждение сметы Союза, внесение в нее изменений, утверждение годовой бухгалтерской отчетности Союза;</li>
                                <li>утверждение годового отчета Совета Союза и Генерального директора;</li>
                                <li> принятие решения об участии Ассоциации в некоммерческих Ассоциациях, в том числе о вступлении в ассоциацию (союз) саморегулируемых организаций, торгово-промышленную палату, выходе из состава членов этих некоммерческих организаций;</li>
                                <li>принятие решений о реорганизации и ликвидации Ассоциации, о назначении ликвидатора и об утверждении ликвидационного баланса;</li>
                                <li>образование других органов Ассоциации и досрочное прекращение их полномочий, если настоящим Уставом в соответствии с законодательством Российской Федерации это правомочие не отнесено к компетенции Совета Ассоциации;</li>
                                <li>установление размеров взносов в компенсационные фонды саморегулируемой организации: компенсационный фонд возмещения вреда и компенсационный фонд обеспечения договорных обязательств, порядка формирования таких компенсационных фондов.</li>
                                <li>установление правил размещения и инвестирования средств компенсационных фондов, принятие решения об инвестировании средств компенсационного фонда возмещения вреда, определение возможных способов размещения средств компенсационных фондов саморегулируемой организации в кредитных организациях;</li>
                                <li>утверждение требований к выдаче свидетельств о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства - документ устанавливающий условия выдачи Ассоциацией свидетельств о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства;</li>
                                <li>утверждение следующих внутренних документов Ассоциации:
                                    <ul>
                                        <li>a) о компенсационном фонде возмещения вреда;</li>
                                        <li>б) о компенсационном фонде обеспечения договорных обязательств;</li>
                                        <li>в) о реестре членов саморегулируемой организации;</li>
                                        <li>г) о процедуре рассмотрения жалоб на действия (бездействие) членов саморегулируемой организации и иных обращений, поступивших в саморегулируемую организацию;</li>
                                        <li>д) о проведении саморегулируемой организацией анализа деятельности своих членов на основании информации, представляемой ими в форме отчетов;</li>
                                        <li>е) о членстве в саморегулируемой организации, в том числе о требованиях к членам саморегулируемой организации, о размере, порядке расчета и уплаты вступительного взноса, членских взносов.</li>
                                    </ul>
                                </li>
                                <li>утверждение внутреннего документа, устанавливающего правила контроля за соблюдением членами Ассоциации требований к выдаче свидетельств о допуске, требований технических регламентов, требований стандартов и внутренних документов Ассоциации, правил саморегулирования;</li>
                                <li>утверждение документа, устанавливающего систему мер дисциплинарного воздействия за несоблюдение членами Ассоциации требований к выдаче свидетельств о допуске, правил контроля в области саморегулирования, требований технических регламентов, требований стандартов и внутренних документов Ассоциации, условий членства в Ассоциации;
                                </li>
                                <li>утверждение стандартов Ассоциации - документов, устанавливающих требования к осуществлению предпринимательской или профессиональной деятельности, обязательные для выполнения всеми членами Ассоциации, в том числе устанавливающие в соответствии с законодательством Российской Федерации о техническом регулировании правила выполнения работ, которые оказывают влияние на безопасность объектов капитального строительства, требования к результатам указанных работ, системе контроля за выполнением указанных работ;</li>
                                <li>утверждение правил саморегулирования - документов, устанавливающих требования к предпринимательской деятельности членов Ассоциации, за исключением требований, установленных законодательством Российской Федерации о техническом регулировании;</li>
                                <li>определение перечня видов работ, которые оказывают влияние на безопасность объектов капитального строительства и решение вопросов по выдаче свидетельства о допуске к которым относится к сфере деятельности Ассоциации;</li>
                                <li>принятие решения об исключении из членов Ассоциации в случаях, предусмотренных законодательством Российской Федерации;</li>
                                <li> принятие решения о прекращении действия свидетельства о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства, в случаях, предусмотренных законодательством Российской Федерации;</li>
                                <li>избрание Ревизора Ассоциации;</li>
                                <li>принятие решения о добровольном исключении сведений об Ассоциации из государственного реестра саморегулируемых организаций;</li>
                                <li>принятие решения о создании филиалов и открытии представительств Ассоциации на территории субъекта Российской Федерации;</li>
                                <li>принятие  иных решений, отнесенных законодательством Российской Федерации к компетенции Общего собрания Ассоциации.</li>
                            </ol>
                        </p>
                        <p class="font-weight-bold pt-5 pb-1">К компетенции Союза относятся следующие вопросы:</p>
                        <ol>
                            <li>создание специализированных органов Союза, утверждение их составов, положений о них;</li>
                            <li>представление Общему собранию членов Союза кандидата либо кандидатур на должность Генерального директора Союза;</li>
                            <li>принятие решений о приеме в члены Союза или об исключении из членов Союза по основаниям, предусмотренным законодательством Российской Федерации, настоящим Уставом и внутренними документами Союза;</li>
                            <li>принятие решений о выдаче члену Союза свидетельства о допуске, об отказе в выдаче такого свидетельства, о внесении изменений в свидетельство о допуске, об отказе во внесении изменений в свидетельство о допуске к указанным работам о прекращении действия свидетельства о допуске и иные решения в соответствии с внутренними документами Союза.</li>
                            <li>утверждение внутренних документов Союза, за исключением отнесенных к компетенции Общего собрания членов Союза;</li>
                            <li>принятие решений о применении мер дисциплинарного воздействия в отношении членов Союза;</li>
                            <li>назначение Аудиторской организации;</li>
                            <li>иные вопросы, не отнесенные настоящим Уставом и законодательством Российской Федерации к компетенции Общего собрания членов и Генерального директора Союза.</li>
                        </ol>
                        <p class="font-weight-bold pt-5 pb-1">Компетенция исполнительных органов Союза:</p>
                        <p class="font-weight-bold">
                            Генеральный директор Союза осуществляет следующие функции:</p>
                            <p>
                                <ol>
                                    <li>самостоятельно решает все вопросы хозяйственной и финансовой деятельности Союза, отнесенные к его компетенции законодательством Российской Федерации, настоящим Уставом и внутренними  документам Союза;</li>
                                    <li>распоряжается имуществом и средствами Союза в пределах, установленных законодательством Российской Федерации и настоящим Уставом;</li>
                                    <li>определяет организационную структуру Союза, утверждает штатное расписание и должностные инструкции работников Союза;</li>
                                    <li>созывает и организует проведение Общего собрания членов Союза;</li>
                                    <li>утверждает внутренние документы Союза (в том числе Положения о филиале и представительстве Союза), за исключением документов, утверждаемых Общим собранием членов Союза и Советом Союза;</li>
                                    <li>заключает трудовые договоры с работниками Союза, руководителями филиалов и представительств Союза. Издает приказы, иные документы, связанные с установлением, изменением и прекращением трудовых отношений, а также все документы по кадровому делопроизводству Союза и применении мер поощрения, дисциплинарного взыскания в отношении работников Союза и руководителей филиалов и представительств Союза;</li>
                                    <li>организует ведение бухгалтерского учета и предоставление бухгалтерской (финансовой) и иной отчетности Союза в соответствии с требованиями законодательства Российской Федерации;</li>
                                    <li>представляет на утверждение Общему собранию членов Союза годовой отчет и бухгалтерскую (финансовую) отчетность Союза;</li>
                                    <li>заключает договоры, выдает доверенности на право представления интересов от имени Союза, открывает счета в банках на территории Российской Федерации и за пределами ее территории; принимает решения, издает приказы и распоряжения, дает указания, обязательные для исполнения всеми работниками Союза, по вопросам, относящимся к его компетенции;</li>
                                    <li>подписывает свидетельства о допуске к работам, которые оказывают влияние на безопасность объектов капитального строительства, выдаваемые членам Союза;</li>
                                    <li>осуществляет иные полномочия, не отнесенные к компетенции Общего собрания членов Союза и Совета Союза.</li>
                                </ol>
                            </p>
                            <p class="font-weight-bold pt-5">Компетенция исполнительных органов Союза:</p>
                            <p>
                                <ol>
                                    <li>осуществлять текущую деятельностью Союза, выполнять решения Общего собрания членов Союза, Совета Союза, Генерального директора, а также решать все вопросы, которые не составляют исключительную компетенцию Общего собрания членов Союза и Совета Союза;</li>
                                    <li>подписывать документы, заключать сделки в пределах своей компетенции;</li>
                                    <li>распоряжение средствами и имуществом Союза с учетом ограничений, установленных действующим законодательством;</li>
                                    <li>представлять интересы в банковских, кредитных учреждениях с правом подавать и получать  документы на открытие счета, любых иных документов и информации;</li>
                                    <li>издавать приказы и давать указания, обязательные для всех работников Союза;</li>
                                    <li>готовить предложения по целевым программам, мероприятиям, проектам, по участию в других общественных программах;</li>
                                    <li>осуществлять материально-техническое обеспечение деятельности Союза;</li>
                                    <li>решать кадровые и других вопросы, не относящихся к компетенции Общего собрания членов Союза, Совета Союза, Генерального директора</li>
                                </ol>
                            </p>
                            <p class="font-weight-bold pt-5">Президент Союза вправе выполнять следующие функции:</p>
                            <p>
                                <ol>
                                    <li>выполнять представительские функции при взаимодействии со средствами массовой информации, общественными и коммерческими организациями, а также физическими лицами; комментировать и разъяснять действия и аспекты деятельности Союза;</li>
                                    <li>осуществлять контроль эффективности деятельности Союза в области связей с общественностью; обеспечивать своевременное устранение недостатков в деятельности Союза, оказывающих негативное влияние на репутацию Союза.</li>
                                </ol>
                            </p>
                            <p class="font-weight-bold pt-5">Информация о структуре специализированных органов управления:</p>
                            <p class="font-weight-bold">К специализированным органам Союза, которые в обязательном порядке создаются Советом Союза, относятся:</p>
                            <p>
                                <ol>
                                    <li>Контрольный комитет;</li>
                                    <li>Дисциплинарная комиссия.</li>
                                </ol>
                            </p>
                            <p class="font-weight-bold pt-5">Информация о компетенции специализированных органов управления:</p>
                            <p class="font-weight-bold">К компетенции Контрольного комитета относится:</p>
                            <p>Осуществление контроля за соблюдением членами Союза требований стандартов и правил Союза.</p>
                            <p>Рассмотрение дел о применении в отношении членов Союза мер дисциплинарного воздействия.</p>
                            <p class="font-weight-bold pt-5"> Количественный состав постоянно действующего коллегиального органа управления:</p>
                            <p>Количественный состав Совета Союза – 3  человека.</p>
                            <p class="font-weight-bold pt-5"> Персональный состав  постоянно действующего коллегиального органа управления (с указанием штатных должностей членов постоянно действующего коллегиального органа управления саморегулируемой организации, в том числе независимых членов, по основному месту работы):</p>
                            <p>
                                <ol>
                                    <li>Саввин А.В. - специалист отдела строительства ООО «Сиверское»*</li>
                                    <li>Артемкин Н.Ф. - специалист отдела строительства ООО «Сиверское»*</li>
                                    <li>Афанасьев С.В. – Директор ООО «ПГЦАУ»*</li>
                                </ol>
                            </p>
                            <p>* Члены Совета Союза являются представителями юридических лиц - членов Союза. Статья 7 федерального закона №315 - ФЗ "О саморегулируемых организациях" требует размещения на официальном сайте штатных должностей членов постоянно действующего коллегиального органа по основному месту работы. Представителями каких именно юридических лиц - членов Союза, являются члены Совета Союза, закон указывать не требует.  </p>
                            <p class="font-weight-bold pt-5">Информация о лице, осуществляющем функции единоличного исполнительного органа саморегулируемой организации:</p>
                            <p>Генеральный директор Союза – Погодин В.С.</p>
                            <p class="font-weight-bold pt-5">Информация о персональном составе коллегиального исполнительного органа саморегулируемой организации:</p>
                            <p>В СОЮЗЕ нет коллегиального исполнительного органа!</p>

                            
                        
                    </div>
                </div>
            </div>
        </div>
  </div>
  </section>



  <footer class="under_head d-flex align-items-end m-0">
    <div class="container">
      <div class="under_head_bg">
        <div class="row d-flex p-0 m-4 d-flex justify-content-center">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="under_head_SRO d-flex align-items-center p-0 m-0">
              <h6 class="m-0">Союз строителей
                «Газораспределительная система.
                Строительство» © 2016-2020</h6>
            </div>
          </div>
      </div>
    </div>
  </footer>


</body>
</html>