{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ССГС</title>
</head>
<body>

  <header>
    <div class="container-fluid d-flex justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav font-weight-bold ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О СОЮЗЕ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="../">ГЛАВНАЯ</a>
                <a class="dropdown-item" href="#">НАПРАВЛЕНИЯ РАБОТЫ</a>
                <a class="dropdown-item" href="../documentsSro/">ДОКУМЕНТЫ СРО</a>
                <a class="dropdown-item" href="../compensationFund/">КОМПЕНСАЦИОННЫЙ ФОНД</a>
                <a class="dropdown-item" href="../ManagementBodies/">ОРГАНЫ УПРАВЛЕНИЯ СОЮЗА</a>
                
                
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ЧЛЕНСТВО СРО
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="../intoSro/">УСЛОВИЯ ВСТУПЛЕНИЯ В СРО</a>
                <a class="dropdown-item" href="#">ОБРАЗЦЫ ДОКУМЕНТОВ ДЛЯ ВСТУПЛЕНИЯ/ВЫХОДА ИЗ СРО</a>
                <a class="dropdown-item" href="#">РЕЕСТР ЧЛЕНОВ</a>
                <a class="dropdown-item" href="#">ИНФОРМАЦИЯ ПО ВЫПИСКАМ</a>
                <a class="dropdown-item" href="#">ПЛАН ПРОВЕРОК</a>
                <a class="dropdown-item" href="../termsStrah/">УСЛОВИЯ СТРАХОВАНИЯ</a>
                
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../vajnInfo/">ИНФОРМАЦИЯ ОБЯЗАТЕЛЬНАЯ ДЛЯ РАЗМЕЩЕНИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../legislation/">ЗАКОНОДАТЕЛЬСТВО</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../indexTwo/">КОНТАКТЫ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="../registrySro/">РЕЕСТР СРО</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <section class="under_head d-flex align-items-center">
    <div class="container">
      <div class="under_head_bg">
        <div class="row d-flex p-0 m-0">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="under_head_SRO d-flex align-items-center">
              <h5>СРО-С-048-12102009</h5>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
              <div class="under_head_new align-items-center">
                  <p>НОВЫЕ ТРЕБОВАНИЯ К ЧЛЕНСТВУ</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="contact">
    <div class="container">
      <div class="row p-0 m-0">
        <div class="col-md-12 d-flex justify-content-start">
          <div class="contact_text">
            <hr>
            <h4 class="font-weight-bold">КОНТАКТЫ</h4>
            <hr>
          </div>
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
          <div class="contact_map d-flex justify-content-center align-items-center ">
            <!-- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aefc19fd340f1d4f4c6feedcced6e2619a2ad59a85e7a0d026699a0ca7a7511ad&amp;width=1090&amp;height=520&amp;lang=ru_RU&amp;scroll=true"></script> -->
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aefc19fd340f1d4f4c6feedcced6e2619a2ad59a85e7a0d026699a0ca7a7511ad&amp;width=1090&amp;height=520&amp;lang=ru_RU&amp;scroll=true"></script>
          </div>
        </div>
      </div>
      <div class="contact_adres">
        <div class="row p-0 m-0 mt-2">
          <div class="col-md-4 d-flex flex-column">
            <div class="contact_adres_blog_one shadow p-3 mb-5 bg-white rounded">
              <div class="p-2"><p>НАШ АДРЕС:</p></div>
              <div class="p-2"><p>Адрес: 192019, г. Санкт-Петербург, ул. Седова, д. 11, литер А, пом. 412</p></div>
            </div>
          </div>
          <div class="col-md-4 d-flex flex-column">
            <div class="contact_adres_blog shadow  mb-5 bg-white rounded">
              <div class="pt-2 pl-2"><p>КОНТАКТНЫЕ ТЕЛЕФОНЫ:</p></div>
              <div class="pl-3"><p>+7 (812) 458-72-72</p></div>
              <div class="pl-3"><p>+7 (981) 719-47-37</p></div>
              <div class="pl-2"><p>Мы ждём Ваши звонки с 09 до 17 по МСК</p></div>
              <div class="pl-2"><p>E-mail: info@npsro.com</p></div>
            </div>
          </div>
          <div class="col-md-4 d-flex flex-column">
            <div class="contact_adres_blog_three shadow mb-5 bg-white rounded">
              <div class="p-3"><p>Напишите нам и вам будет предоставлен персональный менеджер</p></div>
              <div class="contact_adres_blog_three_btn"><button type="button" class="btn btn-warning">Обратная связь</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

</body>
</html>